@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.big-holder {
    max-width: 95%;
    margin: 0 auto;
}

.mid-holder {
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER*/

header {
    background: #00669F;
    position: -webkit-sticky;
    position: sticky;
    top: -2rem;
}

h1 {
    margin: 0 auto;
    padding: 1rem;
}


.foo-bar {
    background: #D1891C;
}

.foo-bar p {
    margin: 0 auto;
    padding: 0.3rem;
}

.header-bot {
    background-color: black;
    color: white;
    font-size: 1rem;
}

.header-bot nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    display: inline-block;
    position: relative;
    padding: 0.2rem 0rem;
    margin: 0rem 0.2rem;
    color: white;
    text-decoration: none;


}


li a::before {
    content: '';
    position: absolute;
    top: 1.3rem;
    width: 0px;
    height: 1px;
    background-color: white;
    transition: width 0.3s;
}

li a:hover::before {
    width: 100%;
}

/* MAIN */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flotante {
    color: white;
    position: fixed;
    padding: 0.6rem;
    background-color: #00669F;
    border-radius: 50%;
    right: 5%;
    top: 50%;
    text-align: center;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 2rem;
}
.flotante:hover {
    background-color: black;
}



/* CARD */

.card {
    max-width: 40%;
    min-width: 290px;
    margin: 1rem;
}

.background {
    background: #F3F3F3;
    border-radius: 15px 15px 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.foto {
    border-radius: 70%;
    max-width: 40%;
    margin: 40% 0% 0% 0%;
    align-self: flex-end;
}

.like {
    align-self: flex-start;
    max-width: 10%;
    margin: 5%;
}

.hidden {
    visibility: hidden;
}

.card-text {
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 35vh;
}

.hero-name {
    font-family: Roboto;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
}

.card-text p {
    font-family: 'Roboto';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    margin: 1rem;
}

.card-link a {
    display: inline-block;
    padding: 1rem 3rem;
    background: #00669F;
    border-radius: 0.3rem;
    color: white;
   
    text-decoration: none;
    margin: 1rem auto;
}

.batman {
    background-image: url('../img/batman-background.svg');
}

.mujer-maravilla {
    background-image: url('../img/fondo-mm.svg');
}

.superman {
    background-image: url('../img/fondo-sm.svg');
}

.harley {
    background-image: url('../img/fondo-hq.svg');
}

/*FOOTER*/

footer {
    background: #00669F;
}

footer p {
    color: white;
    text-align: center;
    padding: 1rem;
}



@media screen and (max-width: 700px) {

}